{% extends 'forum/base.html' %}

{% block title %}About{% endblock %}

{% block body_block %}
<div class="hero-unit">
	Welcome to johnnydiabetic.com. I am johnnydiabetic, and I built this website with 
	<a href="http://www.djangoproject.com">Django</a> as a <a href="https://github.com/jd1123/myforum">small project</a>.
	It is a work in progress. 
	To see the content, you need a login and password. <br><br>
	I like finance, technology, and math. I recently married a wonderful woman named Jules. She likes gymnastics,
	family television shows and oil.
	
	If you have anything to say I'm happy to hear from you, so please feel free to 
	<a href="mailto:johnnydiabetic@gmail.com">email</a> me.
	
</div>
{% endblock %}
