{% extends 'forum/base.html' %}
{% block title %}Reply{% endblock %}

{% block body_block %}
	<div class="hero-unit">
		<h3>New Post</h3>
		<form id="new_post" method="post" action="/forum/reply/{{pk}}/">
			{% csrf_token %}
			Subject: <br />
			<input type="text" name="subject" value="" size="150" maxlength="120">
			<br />
			Body: <br />
			<textarea name="body" rows="10" cols="80" maxlength="1500">
			</textarea>
			<br />
			<input type="submit" value="post" />			
		</form>
	</div>

{% endblock %}
